.job-details {
    background-color: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    background-image: url('../../assets/images/bg1.png'), url('../../assets/images/bg2.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}